@model IEnumerable<SAT.DATA.EF.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curriculum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curriculum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseeId })
        </td>
    </tr>
}

</table>
